html: {
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: #16141d;
    color: #e9e9e9;
    touch-action: none;
}

#pov {
    margin: 0;
}

#minimap, #git {
  position: fixed;
  z-index: 10;
  opacity: .75;
}

#minimap {
  right: 1.5rem;
  top: 1.5rem;
}

#git {
  color: #cecefe;
  right: 1.5rem;
  bottom: 1.5rem;
}